<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <!-- <div class="field">
    <label>Username</label>
    <input formControlName="username" />
  </div> -->
  <app-input label="Username" [control]="authForm.get('username')"></app-input>

  <div class="field">
    <label>Password</label>
    <input formControlName="password" />
  </div>
  <div class="field">
    <label>Password Confirmation</label>
    <input formControlName="passwordConfirmation" />
  </div>

  <button class="ui submit button primary">Submit</button>
</form>
