<h3>{{ this.compName | async }}</h3>

<a href="https://console.firebase.google.com/project/ang4test-f6666/">https://console.firebase.google.com/project/ang4test-f6666</a>
<br>

<input type="text" #serverName>
<button class="btn btn-primary" (click)="onAddServer(serverName.value)">Add Server</button>
<hr>
<button class="btn btn-primary" (click)="onSave()">Save Services</button>
<button class="btn btn-primary" (click)="onGet()">Get Services</button>


<hr>
<ul class="list-group" *ngFor="let server of servers">
  <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
</ul>
