<p>
  {{ this?.test | uppercase }}
</p>

<p>
  {{ this?.test2 | shorten:15 }}
</p>

<input type="text" [(ngModel)]="filteredStatus">

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let server of servers | filter:filteredStatus:'status'"
    [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
    <strong>{{ server.name | shorten:15 }}</strong> |
    {{ server.instanceType | uppercase }} |
    {{ server.started | date:'fullDate' | uppercase }}
  </li>
</ul>
