@import 'normalize';
@import 'fonts';
@import 'libs';
@import 'vars';

body {
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
}






@import 'media';
